<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="patient-data">
      <input
        type="button"
        value="Get Data"
        id="getDataButton"
      />
      <table>
        <tr>
          <th>pID</th>
          <th>pName</th>
          <th>pAge</th>
          <th>pAddress</th>
          <th>pPhone</th>
          <th>pStatus</th>
        </tr>
      </table>
    </div>
  </body>
  <script src="script.js"></script>
</html>
